lucky-compiler/adapters/dify/workflow-example.yml
# ───────────────────────────────────────────────────────────────
# Dify Workflow Example — Lucky-driven Data Analysis Pipeline
# ───────────────────────────────────────────────────────────────
#
# This workflow demonstrates a three-step pipeline:
#   1. HTTP Request — fetch data from an external API
#   2. Lucky Executor — run a Lucky analysis program over the data
#   3. LLM — summarize the Lucky outputs into a human-readable report
#
# Import this YAML in Dify: Studio → Import DSL / Drag into canvas
# ───────────────────────────────────────────────────────────────

app:
  description: >
    Multi-step workflow: fetch data via HTTP, analyze with Lucky IR,
    and summarize results with an LLM.
  icon: "🤖"
  icon_background: "#1C64F2"
  mode: workflow
  name: Lucky Data Analysis Pipeline
  use_icon_as_answer_icon: false

kind: app
version: 0.1.3

workflow:
  conversation_variables: []
  environment_variables:
    - id: lucky_ltp_endpoint
      name: lucky_ltp_endpoint
      value: "http://localhost:9700"
      value_type: string
      description: LTP server endpoint
    - id: lucky_ltp_token
      name: lucky_ltp_token
      value: ""
      value_type: string
      description: LTP auth token (optional)
    - id: data_api_url
      name: data_api_url
      value: "https://api.example.com/stats"
      value_type: string
      description: External data API endpoint

  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - remote_url
          - local_file
    opening_statement: ""
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    speech_to_text:
      enabled: false
    text_to_speech:
      enabled: false
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false

  graph:
    edges:
      # Start → HTTP Request
      - data:
          isInIteration: false
          sourceType: start
          targetType: http-request
        id: start-to-http
        source: start
        sourceHandle: source
        target: fetch_data
        targetHandle: target
        type: custom
        zIndex: 0

      # HTTP Request → Lucky Executor
      - data:
          isInIteration: false
          sourceType: http-request
          targetType: tool
        id: http-to-lucky
        source: fetch_data
        sourceHandle: source
        target: lucky_analysis
        targetHandle: target
        type: custom
        zIndex: 0

      # Lucky Executor → LLM
      - data:
          isInIteration: false
          sourceType: tool
          targetType: llm
        id: lucky-to-llm
        source: lucky_analysis
        sourceHandle: source
        target: summarize
        targetHandle: target
        type: custom
        zIndex: 0

      # LLM → End
      - data:
          isInIteration: false
          sourceType: llm
          targetType: end
        id: llm-to-end
        source: summarize
        sourceHandle: source
        target: end
        targetHandle: target
        type: custom
        zIndex: 0

    nodes:
      # ── Start ───────────────────────────────────────────────
      - data:
          title: START
          type: start
          variables: []
        height: 54
        id: start
        position:
          x: 80
          y: 160
        positionAbsolute:
          x: 80
          y: 160
        type: custom
        width: 244

      # ── Step 1: Fetch data ──────────────────────────────────
      - data:
          authorization:
            config: null
            type: no-auth
          body:
            type: none
          desc: "Fetch raw data from the configured API endpoint."
          headers: ""
          method: get
          params: ""
          retry_config:
            max_retries: 3
            retry_enabled: true
            retry_interval: 1000
          timeout:
            connect: 10
            max_connect_timeout: 0
            max_read_timeout: 0
            max_write_timeout: 0
            read: 60
            write: 60
          title: "HTTP Request — Fetch Data"
          type: http-request
          url: "{{#env.data_api_url#}}"
          variables: []
        height: 98
        id: fetch_data
        position:
          x: 400
          y: 160
        positionAbsolute:
          x: 400
          y: 160
        type: custom
        width: 244

      # ── Step 2: Lucky analysis ──────────────────────────────
      - data:
          desc: >
            Runs a Lucky IR program to analyze the fetched data. The IR
            defines agents that clean, aggregate, and detect anomalies.
          is_team_authorization: false
          output_schema: null
          provider_id: lucky_executor
          provider_name: lucky_executor
          provider_type: builtin
          tool_configurations:
            lucky_executor:
              ir: |
                {
                  "version": "0.1",
                  "meta": { "ir_level": "high", "project": "DataAnalyzer" },
                  "graph": {
                    "nodes": [
                      {
                        "id": "clean",
                        "kind": "task",
                        "label": "CleanData",
                        "agent": "DataCleaner",
                        "prompt": "Clean and normalize the input dataset. Handle missing values,
                                   strip outliers, and standardize column names."
                      },
                      {
                        "id": "aggregate",
                        "kind": "task",
                        "label": "AggregateStats",
                        "agent": "Statistician",
                        "prompt": "Compute summary statistics: count, mean, median, stddev, min, max
                                   for each numeric column."
                      },
                      {
                        "id": "anomalies",
                        "kind": "task",
                        "label": "DetectAnomalies",
                        "agent": "Analyst",
                        "prompt": "Detect anomalies and outliers. Flag any values beyond 3 standard
                                   deviations from the mean. Report findings as a structured list."
                      }
                    ],
                    "edges": [
                      { "from": "clean", "to": "aggregate", "kind": "control" },
                      { "from": "aggregate", "to": "anomalies", "kind": "control" },
                      { "from": "clean", "to": "aggregate", "kind": "data", "source_port": "output", "target_port": "data" },
                      { "from": "aggregate", "to": "anomalies", "kind": "data", "source_port": "stats", "target_port": "stats" }
                    ]
                  }
                }
              goal: AnalyzeDataset
              context:
                source: "{{#fetch_data.body#}}"
                dataset_name: api_stats
              mode: sync
          title: "Lucky Executor — Analyze Data"
          tool_label: Lucky Program Executor
          tool_name: lucky_executor
          tool_node_version: "2"
          tool_parameters:
            context:
              type: mixed
              value: |
                {
                  "source": "{{#fetch_data.body#}}",
                  "dataset_name": "api_stats"
                }
            goal:
              type: mixed
              value: "AnalyzeDataset"
            ir:
              type: mixed
              value: "{{#sys.lucky_ir#}}"
            mode:
              type: mixed
              value: "sync"
          type: tool
        height: 98
        id: lucky_analysis
        position:
          x: 720
          y: 160
        positionAbsolute:
          x: 720
          y: 160
        type: custom
        width: 244

      # ── Step 3: LLM summarization ───────────────────────────
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: "Summarize the Lucky analysis outputs into a readable report."
          memory:
            role_prefix:
              assistant: ""
              user: ""
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.3
              max_tokens: 2048
            mode: chat
            name: gpt-4
            provider: openai
          prompt_template:
            - id: system
              role: system
              text: >
                You are a data analyst assistant. Given the analysis results
                from a Lucky program execution, produce a concise, well-structured
                summary report. Include:
                  - Key findings from the analysis
                  - Statistical summary (if available)
                  - Anomalies or outliers detected
                  - Recommended actions
                Use headings, bullet points, and keep the tone professional.
            - id: user
              role: user
              text: >
                Lucky analysis completed.

                Result: {{#lucky_analysis.result#}}

                Cost: ${{#lucky_analysis.cost_usd#}}

                Duration: {{#lucky_analysis.duration_ms#}} ms

                Outputs: {{#lucky_analysis.outputs#}}

                Please summarize these findings.
          title: "LLM — Summarize"
          type: llm
          variables: []
          vision:
            enabled: false
        height: 98
        id: summarize
        position:
          x: 1040
          y: 160
        positionAbsolute:
          x: 1040
          y: 160
        type: custom
        width: 244

      # ── End ─────────────────────────────────────────────────
      - data:
          outputs:
            - value_selector:
                - summarize
                - text
              variable: report
              value_type: string
          title: END
          type: end
        height: 98
        id: end
        position:
          x: 1360
          y: 160
        positionAbsolute:
          x: 1360
          y: 160
        type: custom
        width: 244
